.container{
    background-color: rgb(202, 253, 255);
    width:40rem;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px rgb(167, 167, 167);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px
}

.container h2{
    margin:0;
    font-size:30px;
}
.container p{
    margin:0;
  
    font-style: italic;
}

button{
    background-color: rgb(20, 148, 105);
    color: white;
    padding:12px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: rgb(11, 90, 64);
}